* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #14120B;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header div {
    display: flex;
    align-items: center;
}

.heading {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-top: -5px;
    position: fixed;
    width: 100%;
}

.navigation {
    margin-right: 30px;
}

.heads {
    display: flex;
    align-items: center;
    gap: 1px;
}

.logo {
    height: 30px;
    width: 29px;
    border-radius: 20px;
    margin-left: -6px;
}

.brand {
    height: 12px;
    width: 70px;
}

.heads h1 {
    color: white;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#bord {
    width: 51em;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-right: -20px;
}


.nav-navgiate {
    list-style: none;
    text-decoration: none;
    gap: 36px;
}

.nav-navgiate a {
    text-decoration: none;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.w-button {
    background-color: #14120B;
    border: 1px solid #ccc;
    padding: 3px 10px;
    color: #edececbf;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
}


.b-button {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 3px 8px 4px 8px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    margin-right: -8px;
}

.but {
    gap: 10px;
    margin-top: 10px;
}

/* Main */

.inner {
    border: 2px solid red;

}

.main-text {
    margin-top: 110px;
    margin-left: 20px;
    border: 2px solid red;
}

.content {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    font-family: CursorGothic, "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.m-button {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 8px 24px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 20px;
}

.m-button span {
    background-color: white;
}

.main-text button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.main-image {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid red;
}

.main-image img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}